.films {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
  box-sizing: border-box;
  list-style: none;
  display: grid;
  row-gap: 32px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.film {
  max-width: 270px;
  border-radius: 10px;
  background-color: #FDFDFD;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}

.film__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}

.film__info {
  max-height: 67px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.film__name {
  margin: 0;
  padding-top: 10px;
  padding-left: 12px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  color: #000000;
}

.film__duration {
  margin: 0;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 14px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #A0A0A0;
}

.film__favorite {
  width: 16px;
  height: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
  border-radius: 50px;
  background-color: #F9F9F9;
  border: 2px solid #FFFFFF;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 12px;
  cursor: pointer;
  transition: box-shadow .2s;
}

.film__favorite:hover {
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.09);
  transition: box-shadow .3s;
}

.film__favorite:active {
  margin-top: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
  transition: box-shadow .3s, margin-top .3s;
}

.film__favorite_active {
  background-color: #2BE080;
}

.more {
  max-width: 1280px;
  height: 166px;
  margin: 0 auto;
  padding-top: 49px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.more__button {
  width: 320px;
  height: 36px;
  cursor: pointer;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 6px;
  transition: box-shadow .3s;
}

.more__button:hover {
  box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow .3s;
}

.more__button:active {
  box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .films {
    padding-top: 70px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
    margin-left: 30px;
    grid-template-columns: 339px 339px;
    row-gap: 36px;
    column-gap: 30px;
  }

  .film {
    max-width: 339px;
    margin-right: 0;
  }

  .more {
    display: block;
    margin-left: 224px;
  }
}

@media screen and (max-width: 320px) {
  .films {
    padding-top: 40px;
    padding-left: 10px;
    margin: 0 auto;
    grid-template-columns: 300px;
    row-gap: 20px;
  }

  .film__duration {
    padding-top: 11px;
    padding-bottom: 13px;
  }

  .more {
    margin-left: 40px;
  }

  .more__button {
    width: 240px;
    padding-top: 2px;
  }
}