.film {
  max-width: 270px;
  border-radius: 10px;
  background-color: #FDFDFD;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}

.film__link {
  text-decoration: none;
}

.film__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 147px;
  object-fit: cover;
}

.film__info {
  max-height: 67px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.film__name {
  margin: 0;
  padding-top: 10px;
  padding-left: 12px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  color: #000000;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.film__duration {
  margin: 0;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 14px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #A0A0A0;
}

.film__favorite {
  width: 16px;
  height: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
  border-radius: 50px;
  background-color: #F9F9F9;
  border: 2px solid #FFFFFF;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 12px;
  cursor: pointer;
  transition: box-shadow .2s;
}

.film__favorite:hover {
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.09);
  transition: box-shadow .3s;
}

.film__favorite:active {
  margin-top: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
  transition: box-shadow .3s, margin-top .3s;
}

.film__favorite_active {
  background-color: #2BE080;
}

.film__favorite_active-save {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  margin-top: 0;
  margin-right: 0;
  background-color: #FFFFFF;
  background-image: url(../../images/cross.svg);
  background-repeat: no-repeat;
  background-position: 6px 14px;
  width: 30px;
  height: 30px;
  transition: background-position-y .2s;
}

.film__favorite_active-save:hover {
  box-shadow: none;
  background-position-y: 12px;
  transition: background-position-y .2s;
}

.film__favorite_active-save:active {
  margin-top: 0;
  box-shadow: none;
  background-position-y: 16px;
  transition: background-position-y .2s;
}

@media screen and (max-width: 875px) {
  .film {
    max-width: 439px;
  }

  .film__name {
    max-width: 280px;
  }
}

@media screen and (max-width: 768px) {
  .film {
    max-width: 339px;
    margin-right: 0;
  }

  .film__name {
    max-width: 220px;
  }
}

@media screen and (max-width: 650px) {
  .film__name {
    max-width: 180px;
  }
}

@media screen and (max-width: 600px) {
  .film__name {
    max-width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .film__duration {
    padding-top: 11px;
    padding-bottom: 13px;
  }
}