.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  height: 100vh;
}

.not-fount__header {
  margin: 0;
  padding-bottom: 5px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 140px;
  line-height: 1.21;
  color: #000000;
}

.not-fount__text {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #000000;
}

.not-found__link {
  text-decoration: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  margin-top: 184px;
  transition: text-shadow .2s, margin-bottom .2s, margin-top .2s;
}

.not-found__link:hover {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1px;
  margin-top: 183px;
  transition: text-shadow .2s, margin-bottom .2s, margin-top .2s;
}

.not-found__link:active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: -1px;
  margin-top: 185px;
  transition: text-shadow .2s, margin-bottom .2s, margin-top .2s;
}

@media screen and (max-width: 500px) {
  .not-found {
    width: 300px;
  }

  .not-fount__header {
    font-size: 80px;
    line-height: 1.21;
    padding-bottom: 10px;
  }

  .not-fount__text {
    font-size: 12px;
    line-height: 1.25;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 1.25;
    margin-top: 284px;
  }
}