.main {
  max-width: 1280px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  padding-bottom: 22px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  letter-spacing: -0.04em;
  color: #000000;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 1230px) {
  .main {
    margin-left: 0;
    margin-right: 0px;
  }
}