.main {
  max-width: 1280px;
  margin: 0 auto;
}

.first-screen {
  max-width: 1200px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.first-screen__title {
  max-width: 730px;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 151px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #000000;
  text-align: center;
}

.first-screen__buttons {
  list-style: none;
  padding-left: 0;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.first-screen__button {
  background-color: #E8E8E8;
  border-radius: 10px;
  border: 0;
  padding-top: 10px;
  padding-right: 13.5px;
  padding-bottom: 10px;
  padding-left: 13.5px;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;
  transition: box-shadow .3s;
}

.first-screen__button:hover {
  box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow .3s;
}

.first-screen__button:active {
  box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.2);
}

.about-project {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 110px;
}

.about-project__list {
  list-style: none;
  padding-left: 0;
  margin-top: 70px;
  display: flex;
  gap: 54px;
}

.about-roject__title {
  margin: 0;
  padding-bottom: 26px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-project__text {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #000000;
}

.about-project__timeline {
  display: grid;
  grid-template-columns: 20% 80%;
  row-gap: 5px;
  text-align: center;
  padding-top: 95px;
}

.about-project__time {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #F2F2F2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.about-project__time_dark {
  color: #FFFFFF;
  background-color: #000000;
}

.about-project__time-title {
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #A0A0A0;
}

.section-title {
  margin: 0;
  padding-bottom: 23px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  letter-spacing: -0.04em;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.technologies {
  max-width: 1280px;
  padding-top: 100px;
  padding-right: 70px;
  padding-bottom: 100px;
  padding-left: 70px;
  background-color: #F5F5F5;
}

.technologies__subtitle {
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #000000;
  margin-top: 90px;
  margin-bottom: 26px;
}

.technologies__text {
  max-width: 460px;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.04em;
  color: #000000;
}

.technologies__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.technologies__item {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  color: #000000;
  background-color: #E8E8E8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  text-align: center;
  padding-top: 21px;
  box-sizing: border-box;
}