.about-project {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 111px;
  padding-bottom: 101px;
}

.about-project__list {
  list-style: none;
  padding-left: 0;
  margin-top: 70px;
  display: flex;
  gap: 54px;
}

.about-roject__title {
  margin: 0;
  padding-bottom: 26px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-project__text {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #000000;
}

.about-project__timeline {
  display: grid;
  grid-template-columns: 20% 80%;
  row-gap: 6px;
  text-align: center;
  padding-top: 95px;
}

.about-project__time {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #F2F2F2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.about-project__time_dark {
  color: #FFFFFF;
  background-color: #000000;
}

.about-project__time-title {
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #A0A0A0;
}

@media screen and (max-width: 1230px) {
  .about-project {
    padding-top: 91px;
    padding-bottom: 83px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%;
  }

  .about-project__list {
    gap: 35px;
  }

  .about-roject__title {
    padding-bottom: 22px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-project__timeline {
    padding-top: 77px;
    grid-template-columns: 21% 79%;
  }
}

@media screen and (max-width: 600px) {
  .about-project {
    padding-top: 71px;
    padding-bottom: 70px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .section-title {
    font-size: 18px;
    line-height: 1.22;
    padding-bottom: 27px;
  }

  .about-project__list {
    margin-top: 61px;
    flex-direction: column;
    gap: 56px;
  }

  .about-roject__title {
    font-size: 18px;
    line-height: 1.22;
    padding-bottom: 16px;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__timeline {
    padding-top: 43px;
    row-gap: 10px;
    grid-template-columns: 35.2% 64.8%;
  }

  .about-project__time {
    font-size: 11px;
    line-height: 1.18;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .about-project__time-title {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    padding-top: 0;
    padding-bottom: 0;
  }
}